# Node & Auth Configuration
NODE_ENV=production
PORT=3000
NEXTAUTH_SECRET=clinical_super_secret_session_key_9941a82c
NEXTAUTH_URL=https://policies.clinical.hospital.org

# Internal Coolify Mesh Microservices (Zero Public Exposure)
INTERNAL_PHP_GATEWAY_URL=http://php-gateway:8000
INTERNAL_WS_GATEWAY_URL=http://node-presence-ws:3001
INTERNAL_REDIS_URL=redis://redis-cluster:6379/0

# IAM Keycloak OIDC Identity Provider
KEYCLOAK_INTERNAL_ISSUER=http://keycloak-iam:8080/realms/clinical-realm
KEYCLOAK_CLIENT_ID=medical-reader-bff
KEYCLOAK_CLIENT_SECRET=keycloak_secret_2026

# Database & Cryptographic Master Key (AES-256 KEK)
POSTGRES_USER=clinical_admin
POSTGRES_PASSWORD=clinical_secure_pass_998
APP_MASTER_KEK=0123456789abcdef0123456789abcdef
